{% extends 'base.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body_content %}
    <h1>Films</h1>

    {% include 'partials/entities_list.html.twig' with { 'itemList' : movies } %}

{% endblock %}
